body {
    margin:0px;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

.map-container {
    height: 88vh;
}

.footer-section {
    height: 12vh;
    background-color: #286c6c;
    color:white;
    padding: 0.25rem;
}

#map {
    width: 100vw;
    height: 100%;
    position: relative;
}

.map-container {
    width: 100vw;
    display: flex;
}

#side-tab {
    transition: 0.2s width linear;
    width: 0px;
    overflow-x: hidden;
}

.map-container.open #side-tab {
    width: 30vw;
}

.map-container.open #map {
    width: 70vw;
}

.toggle-dashboard {
    position:absolute;
    top:0px;
    margin:20px;
    cursor: pointer;
    z-index: 3;
    right:0;
    background-color: white;
    padding:0.5rem;
    border-radius: 5px;
    box-shadow: 0px 0px 0.5rem rgb(143, 143, 143);
}


.nav-tabs li {
    flex:1
}

.nav-tabs li button {
    width: 100%;
}

.ol-rotate {
    top:80px;
}

.coordinate-control {
    position: absolute;
    right:0px;
    bottom: 0px;
    margin:0px 10px 10px 10px;   
    z-index: 2;
    font-size: 13px;
    background-color: #4873a7ac;
    color:#f3f3f3;
    padding:2px 8px;
    box-shadow: 0px 0px 0.5rem #ddd;
    border-radius: 3px;
}

.attribution-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 13px;
}


.attribution-list  {
    padding: 0px;
    margin: 0;
}

.attribution-list li {
    list-style: none;
}

.attribution-list li a {
   text-decoration: none;
   color:rgb(161, 195, 243);
}
/* popup section */
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 20px 10px 15px 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 150px;
  }

  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
    color:black;
}

.popup-content {
    max-height: 220px;
    overflow-y: auto;
    font-size: 13px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:5px;
}

.popup-item {
    display: flex;
    flex-direction: column;
}

.popup-item .header {
    font-weight: 600;
    margin-right: 5px;
}


/* map controls */
.control-btn-group {
    position: absolute;
    top:110px;
    right: 10px;
    z-index: 2;
}

.control-btn.full-screen-button {   
    margin-top:10px; 
    pointer-events: all;
}

.control-btn > * {
    pointer-events: none;
}

.control-btn.zoom-extent-btn {
    margin-top:10px;
}

.control-btn {
    position: relative;
    background-color: #4872A7;
    color:rgb(227, 227, 227);
    border-radius: 3px;
    width: 28px;
    height: 28px;
    box-shadow: 0px 0px 0.25rem #222;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
}

/* tabs */
.tab-item .tab-header {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin: 5px 0px;
}

.tab-item-body {
    padding:1rem;
}

.layer-group {
    padding:15px;
}

.layer-group h3 {
    font-size: 1rem;
}

.card-list  {
    display: grid;
    grid-template-columns: 110px 110px 110px;
    grid-gap:10px;
    grid-template-rows: 120px;
}

.mini-map {
    height: 85px;
    width: 120px;
    pointer-events: none;
}

.basemap-toggler {
    overflow: hidden;
}

.basemap-toggler .title {
    background-color: #4873a7;
    color:white;
    text-align: center;
    font-size: 12px;
}

.basemap-toggler {
    /* overflow: hidden; */
}

.basemap-toggler img {
    pointer-events: none;
}

.basemap-toggler.active {
    border:2px solid #4873a7;
}


/* legend section */
.legend-card {
    width:30px;
    height: 15px;
    background-color: maroon;
    margin-right: 5px;
}

.legend-item {
    display: flex;
    align-items: center;
    font-size: 14px;
}